settings:
  skip_null_param: true
  keyring:
    service: system
    username: panos-conf_apikey

panos:
  hosts:
    foo.example.com:
      vsys:
        - vsys1
    bar.example.com:
      api_key: secret-api-key
      vsys:
        - vsys1
        - vsys2
        - vsys3
