objects:
  address_group:
    class: AddressGroup
    skip: false
    params: 
      - name                      # (str) - Name of the address group
      - static_value              # (list) - Values for a static address group
      - dynamic_value             # (str) - Registered-ip tags for a dynamic address group
      - description               # (str) - Description of this object
      - tag                       # (list) - Administrative tags (not to be confused with registered-ip tags)
  address_object:
    class: AddressObject
    skip: false
    params:
      - name                      # (str) - Name of the object
      - value                     # (str) - IP address or other value of the object
      - type                      # (str) - Type of address: * ip-netmask (default) * ip-range * ip-wildcard (added in PAN-OS 9.0) * fqdn
      - description               # (str) - Description of this object
      - tag                       # (list) - Administrative tags
  application_container:
    class: ApplicationContainer
    skip: true
    params:
      - applications              # (list) - List of memeber applications
  application_filter:
    class: ApplicationFilter
    skip: true
    params:
      - name                      # (str) - Name of the object
      - category                  # (list) – Application category
      - subcategory               # (list) – Application subcategory
      - technology                # (list) – Application technology
      - risk                      # (list) – Application risk
      - evasive                   # (bool) –
      - excessive_bandwidth_use   # (bool) –
      - prone_to_misuse           # (bool) –
      - is_saas                   # (bool) –
      - transfers_files           # (bool) –
      - tunnels_other_apps        # (bool) –
      - used_by_malware           # (bool) –
      - has_known_vulnerabilities # (bool) –
      - pervasive                 # (bool) –
      - tag                       # (list) – Administrative tags
  application_group:
    class: ApplicationGroup
    skip: false
    params:
      - name                      # (str) – Name of the object
      - value                     # (list) – List of application values
      - tag                       # (list) – Administrative tags
  application_object:
    class: ApplicationObject
    skip: true
    params:
      - name                      # (str) – Name of the object
      - category                  # (str) – Application category
      - subcategory               # (str) – Application subcategory
      - technology                # (str) – Application technology
      - risk                      # (int) – Risk (1-5) of the application
      - default_type              # (str) – Default identification type of the application
      - default_value             # (list) – Values for the default type
      - parent_app                # (str) – Parent Application for which this app falls under
      - timeout                   # (int) – Default timeout
      - tcp_timeout               # (int) – TCP timeout
      - udp_timeout               # (int) – UDP timeout
      - tcp_half_closed_timeout   # (int) – TCP half closed timeout
      - tcp_time_wait_timeout     # (int) – TCP wait time timeout
      - evasive_behavior          # (bool) – Applicaiton is actively evasive
      - consume_big_bandwidth     # (bool) – Application uses large bandwidth
      - used_by_malware           # (bool) – Application is used by malware
      - able_to_transfer_file     # (bool) – Application can do file transfers
      - has_known_vulnerability   # (bool) – Application has known vulnerabilities
      - tunnel_other_application  # (bool) –
      - tunnel_applications       # (list) – List of tunneled applications
      - prone_to_misuse           # (bool) –
      - pervasive_use             # (bool) –
      - file_type_ident           # (bool) –
      - virus_ident               # (bool) –
      - data_ident                # (bool) –
      - description               # (str) – Description of this object
      - tag                       # (list) – Administrative tags
  custom_url_category:
    class: CustomUrlCategory
    skip: true
    params:
      - name                      # (str) – The name
      - url_value                 # (list) – Values to include in custom URL category object
      - description               # (str) – Description of this object
  dynamic_user_group:
    class: DynamicUserGroup
    skip: true
    params:
      - name                      # (str) – Name of the dynamic user group
      - description               # (str) – Description of this object
      - filter                    # (str) – Tag-based filter.
      - tag                       # (list) – Administrative tags
  log_forwarding_profile:
    class: LogForwardingProfile
    skip: true
    params:
      - name                      # (str) – The name
      - description               # (str) – The description
      - enhanced_logging          # (bool) – (PAN-OS 8.1+) Enabling enhanced application logging
  log_forwarding_profile_match_list:
    class: LogForwardingProfileMatchList
    skip: true
    params:
      - name                      # (str) – The name
      - description               # (str) – Description
      - log_type                  # (str) – Log type. Valid values are traffic, threat, wildfire, url, data, gtp, tunnel, auth, or sctp (PAN-OS 8.1+).
      - filter                    # (str) – The filter.
      - send_to_panorama          # (bool) – Send to panorama or not
      - snmp_profiles             # (str/list) – List of SnmpServerProfiles.
      - email_profiles            # (str/list) – List of EmailServerProfiles.
      - syslog_profiles           # (str/list) – List of SyslogServerProfiles.
      - http_profiles             # (str/list) – List of HttpServerProfiles.
  log_forwarding_profile_match_list_action:
    class: LogForwardingProfileMatchListAction
    skip: true
    params:
      - name                      # (str) – The name
      - action_type               # (str) – Action type. Valid values are tagging (default) or (PAN-OS 8.1+) integration.
      - action                    # (str) – The action. Valid values are add-tag, remove-tag, or (PAN-OS 8.1+) Azure-Security-Center-Integration.
      - target                    # (str) – The target. Valid values are source-address or destination-address.
      - registration              # (str) – Registration. Valid values are localhost, panorama, or remote.
      - http_profile              # (str) – The HTTP profile for registration of “remote”.
      - tags                      # (str/list) – List of administrative tags.
      - timeout                   # (int) – (PAN-OS 9.0+) Timeout in minutes
  region:
    class: Region
    skip: true
    params:
      - name                      # (str) – Name of the region
      - address                   # (list) – List of IP networks
      - latitude                  # (float) – Latitude of the region
      - longitude                 # (float) – Longitude of the region
  schedule_object:
    class: ScheduleObject
    skip: true
    params:
      - name                      # (str) – Name of the object
      - disable_override          # (bool) – “True” to set disable-override
      - type                      # (str) – Type of Schedule: “recurring” or “non-recurring”
      - non_recurring_date_time   # (list/str) – “Date and Time Range” string for a non-recurring schedule
      - recurrence                # (str) – “daily” or “weekly” recurrence
      - daily_time                # (list/str) – “Time Range” for a daily recurring schedule
      - weekly_sunday_time        # (list/str) – “Time Range” for a weekly recurring schedule (Sunday)
      - weekly_monday_time        # (list/str) – “Time Range” for a weekly recurring schedule (Monday)
      - weekly_tuesday_time       # (list/str) – “Time Range” for a weekly recurring schedule (Tuesday)
      - weekly_wednesday_time     # (list/str) – “Time Range” for a weekly recurring schedule (Wednesday)
      - weekly_thursday_time      # (list/str) – “Time Range” for a weekly recurring schedule (Thursday)
      - weekly_friday_time        # (list/str) – “Time Range” for a weekly recurring schedule (Friday)
      - weekly_saturday_time      # (list/str) – “Time Range” for a weekly recurring schedule (Saturday)
  security_profile_group:
    class: SecurityProfileGroup
    skip: false
    params:
      - name                      # (str) – The group name
      - virus                     # (str) – Antivirus profile
      - spyware                   # (str) – Anti-spyware profile
      - vulnerability             # (str) – Vulnerability protection profile
      - url_filtering             # (str) – URL filtering profile
      - file_blocking             # (str) – File blocking profile
      - data_filtering            # (str) – Data filtering profile
      - wildfire_analysis         # (str) – WildFire analysis profile
  service_group:
    class: ServiceGroup
    skip: false
    params:
      - name                      # (str) – Name of the object
      - value                     # (list) – List of service values
      - tag                       # (list) – Administrative tags
  service_object:
    class: ServiceObject
    skip: false
    params:
      - name                      # (str) – Name of the object
      - protocol                  # (str) – Protocol of the service, either tcp or udp
      - source_port               # (str) – Source port of the protocol, if any
      - destination_port          # (str) – Destination port of the service
      - description               # (str) – Description of this object
      - tag                       # (list) – Administrative tags
  tag:
    class: Tag
    skip: false
    params:
      - name                      # (str) – Name of the tag
      - color                     # (str) – Color ID (eg. ‘color1’, ‘color4’, etc). You can use color_code() to generate the ID.
      - comments                  # (str) – Comments
    # accepted color strings for color_code() method
    # "red": 1, "green": 2, "blue": 3, "yellow": 4, "copper": 5, "orange": 6,
    # "purple": 7, "gray": 8, "light green": 9, "cyan": 10, "light gray": 11,
    # "blue gray": 12, "lime": 13, "black": 14, "gold": 15, "brown": 16,
    # "olive": 17, # there is no color18 "maroon": 19, "red-orange": 20,
    # "yellow-orange": 21, "forest green": 22, "turquoise blue": 23,
    # "azure blue": 24, "cerulean blue": 25, "midnight blue": 26, 
    # "medium blue": 27, "cobalt blue": 28, "violet blue": 29, 
    # "blue violet": 30, "medium violet": 31, "medium rose": 32, 
    # "lavender": 33, "orchid": 34, "thistle": 35, "peach": 36, "salmon": 37,
    # "magenta": 38, "red violet": 39, "mahogany": 40, "burnt sienna": 41,
    # "chestnut": 42,
